<% provide(:title, "Admin Home") %>
<h1>Class Portal Home</h1>
<p>
  This is the admin home page for the <b>Class Portal</b> application.
</p>


<p><%= link_to "Add Instructor", addInst_path, class: "btn btn-lg btn-primary" %></p>


<p><%= link_to "Add Course", addCourse_path, class: "btn btn-lg btn-primary" %></p>