<% provide(:title, "Home") %>
<h1>Class Portal Home</h1>
<p>
  This is the home page for the <b>Class Portal</b> application.
</p>
<p><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>

<p><%= link_to "Student Sign In!", login_path, class: "btn btn-lg btn-primary" %></p>