<% provide(:title, "Home") %>
<div class="jumbotron">
<h1>Class Portal Home</h1>
</div>
<p>
  Welcome to the <b>Class Portal</b>! If you have an account, please login in. Otherwise, sign up for one!
</p>
<p><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>

<p><%= link_to "Sign In!", login_path, class: "btn btn-lg btn-primary" %></p>
</div>
