<% provide(:title, "Home") %>
<div class="jumbotron">
<h1>Class Portal Home</h1>
</div>
<p>
  Welcome to the <b>Class Portal</b>! If you have an account, please login. Otherwise, sign up for one!
</p>
<p align="center"><%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %> <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %></p>
</div>
