<% provide(:title, "Instructor Home") %>
<h1>Instructor Home</h1>
<p>
  This is the instructor home page for the <b>Class Portal</b> application.
</p>

<p><%= link_to "View Courses", viewCourse_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "Edit Profile", editInst_path, class: "btn btn-lg btn-primary" %></p>