<% provide(:title, "Student Home") %>
<h1>Class Portal Home</h1>
<p>
  This is the student home page for the <b>Class Portal</b> application.
</p>

<p><%= link_to "View Courses", viewCourse_path, class: "btn btn-lg btn-primary" %></p>
<p><%= link_to "View your grades", grades_url, class: "btn btn-lg btn-primary" %></p>
