<% provide(:title, 'All students') %>
<h1>All students</h1>

<table class="table table-striped">
  <thead>
    <tr>
          <td>Name</td>
          <td>E-mail</td>
          <td>History</td>
    </tr>
  </thead>
  <tbody>
    
  <!--<ul class="students">-->
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student %></td>
          <td><%= student.email %></td>
          <td><%= link_to "View", "/viewHistory/#{student.id}" %></td>        
        </tr>
      <% end %>
    </ul> 

  </tbody>
</table>