<% provide(:title, 'All students') %>
<h1>All students</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    
  
    <!--<ul class="students">-->
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student %></td>
          <td><%= student.email %></td>
        </tr>
      <% end %>
    </ul>

  </tbody>
</table>