<% provide(:title, 'All instructors') %>
<h1>All instructors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>

  <% @instructors.each do |instructor| %>
    <tr>
      <td><%= link_to instructor.name, instructor %></td>
      <td><%= instructor.email %></td>
      <td><%= link_to 'Delete', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
    </tbody>
</table>