   
<div class="container">
        <h3>Name</h3>
           <b><%= @course.title %></b>
        <h4>Description</h4>
            <p><%= @course.description %></p>
        <h4>Instructor</h4>
            <p><%= @course.instructor %></p>
</div>
